@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 67% 95.5%;
    --foreground: 238 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 238 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 238 20% 15%;
    --primary: 238 53.7% 37.3%;
    --primary-foreground: 0 0% 98%;
    --secondary: 238 30% 90%;
    --secondary-foreground: 238 54% 37%;
    --muted: 238 25% 92%;
    --muted-foreground: 238 15% 45%;
    --accent: 254 30.4% 83.3%;
    --accent-foreground: 238 54% 37%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 10% 88%;
    --input: 238 20% 98%;
    --ring: 238 53.7% 37.3%;
    --chart-1: 238 54% 37%;
    --chart-2: 254 30% 83%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 238 40% 18%;
    --sidebar-foreground: 238 20% 85%;
    --sidebar-primary: 254 30% 83%;
    --sidebar-primary-foreground: 238 54% 20%;
    --sidebar-accent: 238 40% 28%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 238 40% 25%;
    --sidebar-ring: 254 30% 83%;
  }

  .dark {
    --background: 238 15% 10%;
    --foreground: 206 67% 95.5%;
    --card: 238 15% 13%;
    --card-foreground: 206 67% 95.5%;
    --popover: 238 15% 10%;
    --popover-foreground: 206 67% 95.5%;
    --primary: 238 53.7% 67.3%;
    --primary-foreground: 238 54% 10%;
    --secondary: 238 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 238 15% 20%;
    --muted-foreground: 238 10% 60%;
    --accent: 254 20% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 15% 20%;
    --input: 238 15% 20%;
    --ring: 238 53.7% 67.3%;

    --sidebar-background: 238 15% 10%;
    --sidebar-foreground: 238 20% 85%;
    --sidebar-primary: 238 53.7% 67.3%;
    --sidebar-primary-foreground: 238 54% 10%;
    --sidebar-accent: 238 15% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 238 15% 20%;
    --sidebar-ring: 238 53.7% 67.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
